@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  background: #FC986F;
}

.poll {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  overflow: hidden;
}

.deck {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.deck > div {
  position: absolute;
  width: 100vw;
  /* height: 100vh; */
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck > div > div {
  width: 350px;
  height: 78%;
  will-change: transform;
}

.topCard {
  height: 66% !important;
  overflow-y: scroll;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* overflow: hidden; */
}

.bottomCard {
  height: 34%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
}

.backBottomCard {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
}

.card {
  background: white;
  height: 100% !important;
  border-radius: 30px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}

.frontface {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  will-change: transform, opacity, zIndex;
}

.backface {
  position: absolute;
  height: 100%;
  width: 100%;
  will-change: transform, opacity, zIndex;
} 


.infoTagSmall {
  border-color: #FB686B;
  background-color: rgba(251, 104, 107, 0.35);
  border-radius: 9999px;
  border-width: 2px;
  width: 4rem;
  height: 1.8rem;
  /* border-bottom-width: 4px; */
  border-color: #e53e3e;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

.infoTag {
  border-color: #FB686B;
  background-color: rgba(251, 104, 107, 0.35);
  border-radius: 9999px;
  border-width: 2px;
  width: 6rem;
  height: 1.8rem;
  /* border-bottom-width: 4px; */
  border-color: #e53e3e;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

.infoTagWhite {
  border-color: #FB686B;
  background-color: white;
  border-radius: 9999px;
  border-width: 2px;
  width: 6rem;
  height: 1.8rem;
  /* border-bottom-width: 4px; */
  border-color: #e53e3e;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

